@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

@include mat.all-component-themes($theme);
@include mat.all-component-typographies($theme);
@include mat.all-component-densities($theme);

:root {
  @include mat.snack-bar-overrides(
    (
      button-color: white,
      container-color: rgb(118, 114, 231),
    )
  );
}
