@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);

@include mat.all-component-themes($theme);
@include mat.all-component-typographies($theme);
@include mat.all-component-densities($theme);

// TODO theme is not applied correctly
