<div class="px-6 py-2 flex justify-between bg-black max-md:flex-col">
  <div class="flex items-center gap-3">
    <h1 class="font-semibold text-xl text-white">
      Aloha, <span class="text-blue-600/75 dark:text-sky-400/75">{{ username() }}</span>
    </h1>
  </div>

  <div class="flex items-center gap-6">
    <button mat-button routerLink="/books" routerLinkActive="font-semibold">📖Books</button>
    <button mat-button routerLink="/favorites" routerLinkActive="font-semibold">💕Favorites</button>
  </div>

  <div class="flex items-center gap-2">
    <form [formGroup]="searchForm">
      <mat-form-field class="transparent-field">
        <input
          matInput
          class="search-form"
          formControlName="search"
          placeholder="Search books..."
          (input)="onSearch($event.target.value)"
        />
      </mat-form-field>
    </form>
    <button mat-button class="color:white" (click)="onLogout()">⏻Logout</button>
  </div>
</div>

<div class="p-6 min-h-screen bg-[url('/assets/library.jpg')] bg-cover">
  <div class="max-w-5xl mx-auto p-4">
    <router-outlet></router-outlet>
  </div>
</div>
